.collapsible1 {
    background-color: #302f2f;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.content1 {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    color: black;
    background-color: #c4c4c4;
}

.collapsible2{
    background-color: #302f2f;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible3{
    background-color: #302f2f;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible4 {
    background-color: #302f2f;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.content2 {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    color: black;
    background-color: #c4c4c4;
}

